.btn{
    padding: 30px 40px;

    width: 25%;
}

.btn:hover{
    background-color: teal;
    color: rgb(63, 220, 63);
    
}
.slider{
  width: 25%;
   
   
    margin: 5px;
   display: inline-block;

}

.slider:hover{
    cursor: pointer;
    text-decoration: underline;
}